<%% title("<%= user_plural_name.titleize  %>") %>

<div id="new_box">
  <%%= link_to 'Adicionar', new_admin_<%= user_singular_name %>_path, :class => 'button medium green' %>
</div>	

<table cellspacing="0" cellpadding="2">
  <tr>
    <th>Usuário</th>
    <th>E-mail</th>
    <th></th>
  </tr>
<%% @<%= user_plural_name %>.each do |<%= user_singular_name %>| %>
  <tr>
    <td><%%= <%= user_singular_name %>.username %></td>
    <td><%%= <%= user_singular_name %>.email %></td>  
    <td width="11%">
      <ul class="actions">    	
        <li><%%= link_to( image_tag("show.png"), [:admin, <%= user_singular_name %>], :title => "Mostrar" ) %></li>
        <li><%%= link_to( image_tag("edit.png"), edit_admin_<%= user_singular_name %>_path(<%= user_singular_name %>), :title => "Editar" ) %></li>
        <li><%%= link_to( image_tag("delete.png"), [:admin, <%= user_singular_name %>], :confirm => 'Tem certeza que deseja excluir?', :method => :delete, :title => "Excluir" ) %></li>
      </ul>    
    </td>    
  </tr>
<%% end %>
</table>
<%%= will_paginate @<%= user_plural_name %>, :previous_label=>'&laquo; Anterior', :next_label=>'Próximo &raquo;' %>
