<%%= error_messages_for(@<%= singular_table_name %>) %>

<%%= form_for(@<%= singular_table_name %>, :html => { :role => 'form' }) do |f| %>
  <%- attributes.each do |attribute| -%>
  <div class="form-group">
    <%%= f.label :<%= attribute.name %>, :class => "control-label" %>
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :class => "form-control" %>
  </div>
  <%- end -%>

  <hr/>
  <div align="right">
    <%%= link_to 'Cancel', <%= index_helper %>_path, :class => 'btn btn-lg btn-default' %>
    <%%= button_tag(nil, :class => "btn btn-lg btn-success") do |b| %>
      <i class="glyphicon glyphicon-ok"></i> Save
    <%% end %>
  </div>
<%% end %>