<%% title "<%= singular_table_name.titleize %>" %>

<table class="table table-bordered">
  <tbody>
    <%- attributes.each do |attribute| -%>
    <tr><th><strong><%= attribute.human_name %></strong></th><td><%%= @<%= singular_table_name %>.<%= attribute.name %> %></td></tr>
    <% end -%>
  </tbody>
</table>


  <%%= link_to(<%= index_helper %>_path, :class => 'btn btn-lg btn-default') do %>
    <i class="glyphicon glyphicon-circle-arrow-left"></i> Back
  <%% end %> ou
  <%%= link_to(edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'btn btn-lg btn-primary') do %>
    <i class="glyphicon glyphicon-edit"></i> Edit
  <%% end %> 
  <%%= link_to(@<%= singular_table_name %>, :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-lg btn-danger') do %>
    <i class="glyphicon glyphicon-trash"></i> Delete
  <%% end %>