<%% title("<%= plural_name.titleize %>") %>

<div id="new_box">
	<%%= link_to 'Adicionar <%= singular_name.titleize %>', new_object_url, :class=>'new' %>
</div>	

<table cellspacing="1" cellpadding="2">
  <tr>
  <% for attribute in attributes -%>
    <th><%= attribute.column.human_name %></th>
  <% end -%>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%%- @<%= plural_name %>.each do |<%= singular_name %>|%>
    <tr>
    <%- for attribute in attributes -%>
      <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
    <%- end -%>    
      <td width="6%" align="center"><%%= link_to "Ver", object_url(<%= singular_name %>), :class=>'view' %></td>
      <td width="6%" align="center"><%%=link_to 'Editar', edit_object_url(<%= singular_name %>), :class=>'edit' %></td>
      <td width="6%" align="center"><%%=link_to 'Excluir', object_url(<%= singular_name %>), :class=>'delete', :confirm => 'Tem certeza que deseja excluir?', :method => :delete %></td>
    </tr>
  <%% end %>
</table>
<%%= will_paginate @<%= plural_name %>, :prev_label=>'&laquo; Anterior', :next_label=>'Próximo &raquo;' %>
