<%% title("<%= plural_name.titleize  %>") %>

<div id="new_box">
  <%%= link_to 'Adicionar', new_admin_<%= singular_name %>_path, :class => 'button medium green' %>
</div>	

<table cellspacing="0" cellpadding="2">
  <tr>
    <%- for attribute in model_attributes -%>
    <th><%= attribute.human_name.titleize %></th>
    <%- end -%>
    <th></th>
  </tr>
<%% @<%= plural_name %>.each do |<%= singular_name %>| %>
  <tr>
    <%- for attribute in model_attributes -%>
    <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
    <%- end -%>    
    <td width="11%">
      <ul class="actions">    	
        <li><%%= link_to( image_tag("show.png"), [:admin, <%= singular_name %>], :title => "Mostrar" ) %></li>
        <li><%%= link_to( image_tag("edit.png"), edit_admin_<%= singular_name %>_path(<%= singular_name %>), :title => "Editar" ) %></li>
        <li><%%= link_to( image_tag("delete.png"), [:admin, <%= singular_name %>], :confirm => 'Tem certeza que deseja excluir?', :method => :delete, :title => "Excluir" ) %></li>
      </ul>    
    </td>    
  </tr>
<%% end %>
</table>
<%%= will_paginate @<%= plural_name %>, :previous_label=>'&laquo; Anterior', :next_label=>'Próximo &raquo;' %>
